@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		margin: 0;
		padding: 0;
		background: white;
		color: #333;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	* {
		box-sizing: border-box;
	}

	section {
		margin: 0;
	}
}

/*
@layer base {
	body {
		margin: 0;
		padding: 0;
		background: white;
		color: #333;
		font-family:
			-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	* {
		box-sizing: border-box;
	}
}

@layer components {
	.container {
		max-width: 80rem;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}*/
