/* Playfair Display */

@font-face {
	src: url('./lib/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
	font-family: 'Playfair Display';
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
	font-family: 'Playfair Display';
	font-style: italic;
}

/* IBM Plex Mono */

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 200;
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 100;
	font-style: italic;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 200;
	font-style: italic;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	font-style: italic;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 600;
	font-style: italic;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 700;
	font-style: italic;
}
